@model IEnumerable<CatmashWebApplication.Models.Cat>
@{
    ViewData["Title"] = "Home Page";
}
    <div class="row no-gutters">
        <div class="col no-gutters">
            <div class="leftside d-flex justify-content-center align-items-center">
                <img src="@(Model.First().Url)"  class="rounded-circle catmatch" alt="">
            </div>
        </div>
        <div class="col no-gutters">
            <div class="rightside d-flex justify-content-center align-items-center">
                <img src="@(Model.Last().Url)" class="rounded-circle catmatch" alt="">
            </div>
        </div>
    </div>